
@{
    ViewBag.Title = "PostString";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue">POST SUCCESSFUL</h2>

<p>Thanks for the opportunity</p>

<p>Really excited about the possibility of working with you guys!</p>

